@media (max-width: 1024px) {
  header ul,
  .section1-titles ul,
  .section2 .main,
  .footer-up {
    display: flex;
    flex-direction: column;
    row-gap: 18px;
  }
  .footer-down {
    display: flex;
    flex-wrap: wrap;
    row-gap: 30px;
    margin-bottom: 16px;
  }
  .mainpic {
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .bigger-box select {
    font-size: 20px;
  }
}

/* for tablet 744px */
@media (max-width: 744px) {
  header ul {
    flex-direction: row;
  }
  header {
    flex-direction: column;
  }
  .mainpic {
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .footer-down {
    display: flex;
    flex-direction: column;
    row-gap: 30px;
  }
}

/* for mobile */
@media (max-width: 375px) {
  header nav {
    display: none;
  }
  .header-left {
    display: flex;
    align-items: center;
    column-gap: 50px;
  }
  .photos {
    display: flex;
    flex-direction: column;
    row-gap: 20px;
  }
 
}

