header {
  width: 100%;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  height: 178px;
  width: 100%;
  background-color: #191a19;
}

header h1,
.footer h1 {
  font-family: "Unlock";
  font-size: 39px;
  font-weight: 400;
  color: #ff7420;
}
header ul {
  display: flex;
  column-gap: 22px;
}
header a,
select,
button {
  font-family: "Poppins";
  font-size: 22px;
  font-weight: 500;
  color: #ffffff;
}
select {
  background-color: transparent;
  border: none;
  text-align: center;
  outline: none;
  margin-right: 24px;
}
select:hover {
  background-color: #ff7420;
  border-radius: 12px;
  transition: background-color 0.7s linear;
}
select option {
  background-color: silver;
  color: #191a19;
}
button {
  background-color: #ff7420;
  width: 194px;
  height: 66px;
  border-radius: 15px;
  border: none;
}
.underline {
  position: relative;
}
.underline::after {
  content: "";
  width: 0%;
  height: 2px;
  background-color: #ff7420;
  position: absolute;
  bottom: -10px;
  left: 0;
  transition: all 0.7s linear;
}
.underline:hover::after {
  width: 100%;
}
.underline:hover {
  color: #ff7420;
  transition: all 0.7s linear;
}
.select-button {
  display: flex;
}
.mainpic {
  width: 100%;
  height: 553px;
  background-image: url(../photos/construction.jpg);
  padding-left: 52px;
  padding-top: 103px;
  background-size: cover;
  background-position: bottom;
  background-repeat: no-repeat;
}
.mainpic h1 {
  font-family: "Poppins";
  font-size: 50px;
  font-weight: 600;
  color: #ffffff;
  margin-bottom: 20px;
}
span {
  color: #ff7420;
}
.mainpic p {
  font-family: "Poppins";
  font-size: 20px;
  line-height: 25px;
  color: #ffffff;
  width: 50%;
  margin-top: 20px;
  margin-bottom: 55px;
}
main button {
  width: 226px;
  position: relative;
  padding: 0;
}
.main-button2 {
  background-color: #ffffff;
  color: #191a19;
  margin-left: 24px;
}
button span {
  width: 25px;
  height: 25px;
  background-color: #ff7420;
  position: absolute;
  bottom: 20px;
  right: 12px;
  border: 2px solid #ffffff;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}
button span i {
  color: white;
  font-size: 15px;
}
.section1 {
  background-color: #ff7420;
  padding: 0 50px 54px;
}
.section1-titles {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-top: 50px;
  margin-bottom: 40px;
}
.section1-titles > ul {
  display: flex;
  column-gap: 14px;
}
.section1 h1 {
  font-family: "Poppins";
  font-size: 40px;
  font-weight: 600;
}
.section1 a {
  font-family: "Poppins";
  font-size: 19px;
  font-weight: 600;
  color: #fff;
}
.added {
  position: relative;
}
.added::after {
  content: "";
  width: 0%;
  height: 2px;
  background-color: #191a19;
  position: absolute;
  bottom: -10px;
  left: 0;
  transition: all 0.7s linear;
}
.added:hover::after {
  width: 100%;
}
.added:hover {
  color: #191a19;
  transition: all 0.7s linear;
}
.photos {
  display: flex;
  column-gap: 10px;
  margin-bottom: 24px;
}
.photos > div {
  width: 100%;
  height: 373px;
  background-repeat: no-repeat;
  background-size: cover;
  padding-top: 90px;
  border-radius: 20px;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  padding: 0 7px 7px 7px;
}
.div1 {
  background-image: url(../photos/constr1.png);
}
.div2 {
  background-image: url(../photos/constr2.png);
}
.div3 {
  background-image: url(../photos/constr3.png);
}
.section1 h4 {
  text-transform: capitalize;
  font-family: "Poppins";
  font-size: 20px;
  font-weight: 600;
}

.section1 span {
  width: 25px;
  height: 25px;
  background-color: #191a19;
  border: 2px solid #191a19;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.section1 span i {
  color: white;
  font-size: 10px;
}
.flex-end {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  column-gap: 10px;
}
.section2 {
  background: linear-gradient(180deg, #191a19 80%, rgba(0, 0, 0, 0) 152.79%);
  display: flex;
  flex-direction: column;
  padding-top: 25px;
  padding-bottom: 40px;
}
.section2-child1 {
  padding-inline: 65px;
  text-align: center;
}
.section2-child1 h4 {
  font-family: "Poppins";
  font-size: 28px;
  font-weight: 600;
  color: #ff7420;
}
.section2-child1 p {
  font-family: "Poppins";
  font-size: 20.5px;
  font-weight: 400;
  line-height: 30px;
  margin: 28px 0 14px;
  color: #ffffff;
}
.section2-child1 h5,
h6 {
  font-family: "Poppins";
  font-size: 20px;
  font-weight: 500;
  margin-bottom: 7px;
  color: #ffffff;
}
.section2-child1 h6 {
  font-size: 16px;
  margin-bottom: 61px;
  color: #ffffff;
}
.section2-child1 h1 {
  font-family: "Poppins";
  font-size: 48px;
  font-weight: 600;
  color: #ffffff;
  margin-bottom: 121px;
}
.section2 .main {
  display: flex;
  column-gap: 41px;
  padding-inline: 65px;
}

.bigger-box {
  width: auto;
  height: auto;
  background-color: #ff7420;
  padding: 53px;
  border-radius: 15px;
}
.bigger-box h5 {
  font-family: "Poppins";
  font-size: 24px;
  font-weight: 500;
  color: #fff;
  margin-bottom: 15px;
}
.bigger-box p {
  font-family: "Poppins";
  font-size: 20px;
  font-weight: 400;
  line-height: 36px;
  color: #fff;
  margin-bottom: 15px;
}
.bigger-box input {
  width: 45%;
  height: 76px;
  border-radius: 19px;
  border: none;
  font-family: "Poppins";
  font-size: 20px;
  font-weight: 400;
  padding-left: 40px;
  outline: none;
}
#textarea {
  width: 94%;
  height: 140px;
  border-radius: 19px;
  margin-left: 6px;
  border: none;
  font-family: "Poppins";
  font-size: 20px;
  font-weight: 400;
  padding-left: 40px;
  outline: none;
}
form {
  display: flex;
  flex-wrap: wrap;
  column-gap: 10px;
  row-gap: 18px;
}
#phone {
  margin-left: 9px;
}
#services {
  width: 45%;
  margin-left: 1px;
}

.bigger-box select {
  width: 45%;
  height: 76px;
  background-color: #fff;
  color: #191a1980;
  outline: none;
  border-radius: 19px;
  border: none;
  font-family: "Poppins";
  margin: 0;
}
.bigger-box textarea {
  width: 98%;
  height: 148px;
  padding-top: 25px;
}
.bigger-box button,
.smaller-box button {
  width: 94%;
  height: 76px;
  border: none;
  background-color: #191a19;
  border-radius: 19px;
}
.smaller-box {
  width: auto;
  height: auto;
  border-radius: 15px;
  background-color: #ff7420;
  padding: 53px;
}
.smaller-box h3,
h6 {
  font-family: "Poppins";
  font-size: 22px;
  font-weight: 500;
  color: #fff;
  margin-bottom: 30px;
}
.smaller-box p {
  font-family: "Poppins";
  font-size: 17px;
  color: #fff;
  margin-bottom: 30px;
}
.smaller-box h6 {
  margin-top: 50px;
  margin-bottom: 65px;
  font-size: 18px;
  font-style: italic;
  line-height: 20px;
  width: 120%;
}
.footer {
  margin-top: 53px;
  padding-inline: 65px;
}
.footer-up {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 20px;
  margin-bottom: 29px;
}
.footer-up h1 {
  color: #fff;
}
.footer-up label {
  font-family: "Poppins";
  font-size: 20px;
  font-weight: 400;
  color: white;
}
.footer-up input {
  width: 288px;
  padding: 0;
  height: 38px;
  background-color: transparent;
  font-family: "Poppins";
  font-weight: 400;
  outline: none;
  color: #ffffff80;
  border: none;
  border-bottom: 2px solid #ffffff80;
  padding: 0;
}
.footer-up > div {
  display: flex;
  align-items: center;
  column-gap: 20px;
}
.footer-up > div > div {
  position: relative;
}
.footer-up > div > div > i {
  position: absolute;
  right: 0;
  top: 50%;
  transform: translateY(-50%);
  color: white;
}
.footer-down {
  display: flex;
  justify-content: space-between;
  /* column-gap: 40px; */
}

.footer-down h2 {
  font-family: "Poppins";
  font-size: 20px;
  font-weight: 500;
  line-height: 30px;
  margin-bottom: 16px;
  color: #fff;
}
.footer-down p {
  font-family: "Poppins";
  font-size: 16px;
  font-weight: 400;
  line-height: 20px;
  color: #fff;
}
.footer-down li {
  font-family: "Poppins";
  font-size: 16px;
  line-height: 24px;
  color: #fff;
}

.footer-down img {
  margin-right: 15px;
  margin-top: 20px;
}
.about-us p {
  width: 389px;
}
.contact p {
  width: 269px;
}
.office p {
  width: 338px;
}
.burger-bar {
  display: none;
  /* width: 25px;
  height: 25px;
  border-radius: 50%;
  background-color: #ff7420;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  row-gap: 4px; */
}
.burger-lines {
  width: 15.12px;
  border: 1px solid #fff;
}

@media only screen and (max-width: 375px) {
  .burger-bar {
    width: 25px;
    height: 25px;
    border-radius: 50%;
    background-color: #ff7420;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    row-gap: 4px;
  }
}
